@model IEnumerable<Blog>

@if (Model.Count() == 0)
{
    <h1>
        Belum ada data :)
    </h1>
}
else
{
    foreach (var item in Model)
    {
        @item.Id
        <a asp-action="cari" asp-controller="Repo" asp-route-id="@item.Id">Detail</a>
    }
}
