<table class="table" id="data-table">
    <thead class="table">
        <tr>
            <td>ID</td>
            <td>Roles</td>
        </tr>
    </thead>
    <tbody class="table" id="isi-roles">

    </tbody>
</table>

@section Scripts{
    <script>
        $.ajax({
            method: "GET",
            url: "/api/home/roles",
            success: function (responnya) {
                responnya.data.forEach(nilai => {
                    $("#isi-roles").append(`
                        <tr>
                            <td>${nilai.id}</td>
                            <td>${nilai.name}</td>
                        </tr>
                    `)
                })
                $('#data-table').DataTable() // pake library datatable
            },
            error: function (err) {
                alert(err)
            }
        })
    </script>
}