@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-action="UntukFormValidasi">form validasi</a>
|
<a asp-action="FromAPI">fetchAPI</a>
|
<a href="https://calendar.google.com/calendar/render?action=TEMPLATE&details=Learn%20all%20about%20the%20rules%20of%20the%20Motorway%20and%20how%20to%20access%20the%20fast%20lane.%0A%0Ahttps%3A%2F%2Fen.wikipedia.org%2Fwiki%2FGridlock_%28Doctor_Who%29&location=New%20Earth&text=Welcome%20to%20the%20Motorway">Google Calendar</a>
|
<a asp-action="Lokasi">Lokasi</a>

@await Html.PartialAsync("Modal/ModalBuat.cshtml")