@model BlogDashboard

<b>Data Roles</b>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(item => item.roles[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.roles[0].Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>